@import url('../../index.css');

.Header {
    background-color: #000000 !important;
    /* border-bottom: 2px solid #002200 !important;  */
  }
  
  .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold; 
  }
  
  .navbar-brand:hover {
    color: #ffffff;
  }
  
  .logo-text {
    color: white; /* Set the color of the text */
    font-size: 24px; /* Adjust the font size as needed */
  }